.homepage {
  .hero {
    .switcher {
      --measure: 30ch;
      inline-size: 100%;
      text-align: center;
    }
  }

  .branding {
    .icon {
      inline-size: auto;
      block-size: 9ch;
    }
  }
}
