.cards {
  --gap: var(--s2);
}

/* Icon Cards */
.cards .card.card--icon {
  --color: var(--color-white);
  --heading-color: var(--color-white);

  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: gray;
  padding: var(--s2) var(--s5);
  font-size: var(--s3);
  line-height: var(--s4);
  text-align: center;
}

/* Icon Card Variants */
.cards .card--icon:nth-of-type(6n + 1) {
  background: var(--color-primary-dark-xx);
}

.cards .card--icon:nth-of-type(6n + 2) {
  background: var(--color-primary-dark-x);
}

.cards .card--icon:nth-of-type(6n + 3) {
  background: var(--color-secondary);
}

.cards .card--icon:nth-of-type(6n + 4) {
  background: var(--color-accent-warm-dark-x);
}

.cards .card--icon:nth-of-type(6n + 5) {
  background: var(--color-secondary-dark-xx);
}

.cards .card--icon:nth-of-type(6n + 6) {
  background: var(--color-primary-light-xx);
}
