.brow {
  .brow__accent {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent-color);
  }

  > * + * {
    margin-inline-start: var(--gap, var(--s0));
    padding-inline-start: var(--gap, var(--s0));
    border-inline-start: 2px solid var(--color);
  }
}
