/* @file Styles for storybook docs. */

.sbdocs .story__description {
  * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-block-start: 2.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2;
  }

  li {
    font-size: 1rem;
  }

  li + li {
    margin-block-start: .5rem;
  }

  blockquote p {
    color: tomato;
  }
}

