.cards {
  --gap: var(--s2);
}

/* Icon Card Variants */

.cards--multicolor .card--icon:nth-of-type(5n + 1) {
  --color: var(--color-primary-dark-xx);
  --heading-color: var(--color-primary-dark-xx);
  background: var(--color-light);
}

.cards--multicolor .card--icon:nth-of-type(5n + 2) {
  background: var(--color-dark);
}

.cards--multicolor .card--icon:nth-of-type(5n + 3) {
  background: var(--color-base);
}

.cards--multicolor .card--icon:nth-of-type(5n + 4) {
  background: var(--color-primary);
}

.cards--multicolor .card--icon:nth-of-type(5n + 5) {
  background: var(--color-accent);
}
